{% load staticfiles %}
<div align="center">
   <img src="{% static 'img/djangoteca-logo_225x48.png' %}" widht="225" 
            height="48" alt="logotipo djangoteca">
   <h1>Página não encontrada!</h1>
   <p><a href="{% url 'links-tutoriais' %}">Voltar para o site</a></p>
</div>