<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <meta name="description" content="Site com links para diversas publicações sobre o framework Django.">
   <link rel="icon" href="../../favicon.ico">

   <title>DjangoTeca | Publicações sobre Django</title>

   <!-- Bootstrap core CSS -->
   <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="{% static 'css/navbar.css' %}" rel="stylesheet">

   <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
   <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
   <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
   <!-- ShareThis -->
   <script type="text/javascript">var switchTo5x=true;</script>
   <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
   <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>
   <!-- /ShareThis -->
</head>

<body>
   <div class="container">
      
      <!-- cabeçalho -->
      {% include "shared/cabecalho_base.html" %}
      <!-- /cabeçalho -->
      <br />

      <!--- menu -->
      {% include "shared/menu_base.html" %}
      <!--- /menu -->
      
      <!-- conteúdo -->
      {% block conteudo %}Conteúdo do site {% endblock conteudo %}
      <!-- /conteúdo -->

      <!-- rodapé -->
      {% include "shared/rodape_base.html" %}
      <!-- /rodapé -->
   </div><!--/container -->
   

   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>
   <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

   <!-- Google Analytics -->
   <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

     ga('create', 'UA-54448349-7', 'auto');
     ga('send', 'pageview');
   </script><!-- /Google Analytics -->
   <!-- ShareThis -->
   <script type="text/javascript">stLight.options({publisher: "5e059732-d728-4d78-b6c3-e892301a7382", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
   <script>
      var options={ "publisher": "5e059732-d728-4d78-b6c3-e892301a7382", "position": "left", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "linkedin", "pinterest", "delicious", "email", "sharethis"]}};
      var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
   </script><!-- /ShareThis -->
</body>
</html>