   {% extends "base.html" %}

   {% block conteudo %}
      
      <!-- conteúdo -->
      <div class="row">
         <!-- principal -->
         <div class="col-md-12">
         {% block principal %}Área de Conteúdo Principal{% endblock principal %}      
         </div><!-- /principal -->
      </div><!-- /conteúdo -->
      
   {% endblock conteudo %}