   {% extends "base.html" %}
   
   {% block conteudo %}

      <!-- conteúdo -->
      <div class="row">
         <!-- principal -->
         <div class="col-md-8">
         {% block principal %}Área de Conteúdo Principal{% endblock principal %}      
         </div><!-- /principal -->
         
         <!-- sidebar -->
         <asside class="col-md-4 sidebar">
            <!-- mais vistos/mais recentes -->
            {% include "estante/mais_vistos_mais_recentes.html" %}
            <!-- /mais vistos/mais recentes -->
            <!-- filtros -->
            {% include "estante/filtros.html" %}
            <!-- /filtrons -->
            <!-- publicidade -->
            {% include "estante/publicidade_lateral.html" %}
            <!-- /publicidade -->
         </asside><!-- /sidebar -->
      </div><!-- /conteúdo -->

   {% endblock conteudo %}