{% extends "base_single.html" %}

   {% block principal %}

      <h4>Contato</h4>
      <hr>
      <div class="row">
         <div class="col-md-12">
            <h4>Use o formulário abaixo para enviar sua crítica (construtiva), elogio, sugestão, link de conteúdo ou simplesmente um 'Hello World!'.</h4>
         </div>
      </div>
      <br />
      <div class="row">
         <div class="col-md-6 col-md-offset-3">
            {% if alerta %}
            <div class="alert alert-success" role="alert">{{ alerta }}</div>
            {% endif %}
            
            <div class="well text-center">
               <p><small>Os campos marcados com um asterisco (*) são obrigatórios</small></p>
               <form action="" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                     {{ form.nome }}
                     {{ form.nome.errors }}   
                  </div>
                  
                  <div class="form-group">
                     {{ form.email }}
                     {{ form.email.errors }}
                  </div>
                  
                  <div class="form-group">
                     {{ form.site }}
                     {{ form.site.errors }}
                  </div>
                  
                  <div class="form-group">
                     {{ form.assunto }}
                     {{ form.assunto.errors }}
                  </div>
                  
                  <div class="form-group">
                     {{ form.mensagem }}
                     {{ form.mensagem.errors }}
                  </div>
                  
                  <button type="submit" class="btn btn-default">Enviar</button>
               </form>
            
            </div>
         </div>
         
         {% if form.errors %}
            {{ form.non_field_errors }}
         {% endif %}
      </div>

   {% endblock principal %}