{% extends "base_single.html" %}

   {% block principal %}

      <h4>Contato</h4>
      <hr>
      <div class="row">
         <div class="col-md-12">
            <h1 class="text-center">Mensagem enviada com sucesso. Obrigado!</h1>
         </div>
      </div>
   {% endblock principal %}