

<div class="panel panel-default">
   <div class="panel-heading">Filtros</div>
   <div class="panel-body" align="center">
      <form class="form">
         <div class="checkbox">
         {% for tag in tags_com_links %}
            <label>
               <input type="checkbox" name="cbox_{{tag.nome}}"
                  {% if tag in tags_marcadas %}checked="checked"{% endif %}>
                  <small>{{ tag.nome }}</small>
            </label>&nbsp;
         {% endfor %}
         </div>
         <button class="btn btn-default btn-sm">Filtrar</button><br />
         <hr />
         <small>
            'Django': versão mais recente/'Django ?': versão não identificada
         </small>
      </form>
   </div>
</div>