{% extends "base_sidebar.html" %}

{% block principal %}

<h4>{{ titulo_pagina }} ({{ total_de_links }})</h4>
<hr>

{% if lista_de_links %}
   {% for link in lista_de_links %}
   <div class="well">
      <a href="{% url 'contar-cliques-link' link.id %}" target="_blank"><h4>{{ link.titulo}}</h4></a>
      <p>{{ link.descricao }}<a href="{% url 'contar-cliques-link' link.id %}" target="_blank">&nbsp;[Ver]</a></p>
      {% for tag in link.tags.all %}
         <span class="label label-default">{{ tag.nome }}</span>
      {% endfor %}
   </div>
   {% endfor %}

   <div class="text-center">
   {% include "shared/paginacao.html" %}
   </div>

{% else %}
   {% include "shared/texto_checar_filtros.html" %}
{% endif %}
   
{% endblock principal %}