<div class="panel panel-default">
   <div class="panel-heading">Mais Vistos</div>
   <div class="panel-body">

      <ul>
         {% for link in links_mais_visitados %}
            <li><a href="{% url 'contar-cliques-link' link.id %}" target="_blank">
               {{ link.titulo|truncatechars:35 }}
            </a><small>({{ link.cliques }})</small></li>   
         {% endfor %}
      </ul>
      
   </div>
</div>