{% extends "base_sidebar.html" %}

{% block principal %}
   
<h4>Livros ({{ total_de_livros }})</h4>
<hr>

<div class="row">
{% for livro in livros_lista %}
   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-body">
            <p class="text-center"><a href="{% url 'contar-cliques-livros-django' livro.id %}" target="_blank">  
               <img src="{{ livro.capa.url }}" height="200" alt="{{ livro.titulo }}"></a></p>
            <div class="caption">
               <p><small>{{ livro.titulo }}</small></p>
               <p><small><span class="glyphicon glyphicon-calendar">&nbsp;{{ livro.ano_edicao }}</span></small>
               &nbsp;&nbsp;<small><span class="glyphicon glyphicon-tags">&nbsp;{{ livro.get_tags }}</span></small></p>
            </div>
         </div>
      </div>
   </div>
   {% if forloop.counter|divisibleby:3 %}
</div><br />
<div class="row">
   {% endif %}
{% endfor %}
</div>

<div class="text-center">
   {% include "shared/paginacao.html" %}
</div>
{% endblock principal %}