<div class="panel panel-default">
   <div class="panel-heading">
      <ul class="nav nav-tabs">
         <li class="active"><a data-toggle="tab" href="#mais_vistos">Mais Vistos</a></li>
         <li><a data-toggle="tab" href="#recentes">Mais Recentes</a></li>
      </ul>
   </div>

   <div class="panel-body">   
      <div class="tab-content">
         <div id="mais_vistos" class="tab-pane fade in active">
            <ul>
               {% for link in links_mais_visitados %}
                  <li><a href="{% url 'contar-cliques-link' link.id %}" target="_blank">
                     {{ link.titulo|truncatechars:35 }}
                  </a><small>({{ link.cliques }})</small></li>   
               {% endfor %}
            </ul>
         </div>

         <div id="recentes" class="tab-pane fade">
            <ul>
               {% for link in links_mais_recentes %}
                  <li><a href="{% url 'contar-cliques-link' link.id %}" target="_blank">
                     {{ link.titulo|truncatechars:40 }}
                  </a></li>   
               {% endfor %}
            </ul>
         </div>
      </div>
   </div>
</div>






