

<div class="panel panel-default">
   <div class="panel-heading">Publicidade</div>
   <div class="panel-body" align="center">
      <!-- LOMADEE - BEGIN -->
      <script type="text/javascript" language="javascript">
         lmd_source="33187152";
         lmd_si="33836467";
         lmd_pu="22686028";
         lmd_c="BR";
         lmd_wi="300";
         lmd_he="250";
      </script>
      <script src="http://image.lomadee.com/js/ad_lomadee.js" 
         type="text/javascript" language="javascript"></script>
      <!-- LOMADEE - END -->
   </div>
</div>