{% extends "base_single.html" %}
   
   {% block principal %}
   
      <h4>Sobre</h4>
      <hr>
      
      <p>Este site foi criado como um projeto para aprendizagem do framework web Django.</p>
      <p>Aqui você encontrará diversos links para materiais como tutoriais, códigos fontes, livros e outros que irei adicionando com o tempo.</p>
      <p>Você pode visualizar o código fonte deste projeto no endereço: <a href="https://bitbucket.org/rjonirua/djangoteka.git" target="_blank">https://bitbucket.org/rjonirua/djangoteka.git</a>.</p>
      <p>Para acessar o site oficial do projeto do framework Django acesse <a href="https://www.djangoproject.com/" target="_blank">https://www.djangoproject.com/</a>.</p>
   
   {% endblock principal %}