{% load staticfiles %}
<header class="row">
   <!-- logo -->
   <div class="col-md-4">
      <a href="{% url 'links-tutoriais' %}">
         <img src="{% static 'img/djangoteca-logo_225x48.png' %}" widht="225" 
            height="48" alt="logotipo djangoteca">         
      </a>

      <h5>Publicações sobre Django</h5>
   </div><!-- logo -->

</header>

