<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="./index.html">DjangoTeca</a> -->
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'links-tutoriais' %}">Tutoriais</a></li>
        <li><a href="{% url 'links-github' %}">Códigos</a></li>
        <li><a href="{% url 'livros-django' %}">Livros</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'contatar-me' %}">Contato</a></li>
        <li><a href="{% url 'sobre' %}">Sobre</a></li>
      </ul>
      <!-- 
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" size="30" class="form-control" 
            placeholder="Pesquisar...">
        </div>
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-search"></span>
          <span class="sr-only">(botão pesqusiar)</span>
        </button>
      </form>
      -->
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav><!-- /Static navbar -->