{% if is_paginated %}
    <ul class="pagination pagination-centered pagination-sm">
        {% if page_obj.has_previous %}
            <li><a href="?page=1"><<</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
        {% else %}
            <li class="disabled"><a href="#"><<</a></li>
            <li class="disabled"><a href="#"><</a></li>
        {% endif %}

        {% for p in paginator.page_range %}
            <li {% if page_obj.number == p %} class="active" {% endif %}>
                <a  href="?page={{ p }}">{{ p }}</a>
            </li>
        {% endfor %}
        
        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
            <li><a href="?page={{ page_obj.paginator.num_pages }}">>></a></li>
        {% else %}
            <li class="disabled"><a href="#">></a></li>
            <li class="disabled"><a href="#">>></a></li>
        {% endif %}
    </ul>
{% endif %}