<footer class="row">
   <div class="col-md-12 text-center">
      <hr />
      <p>Desenvolvido com <a href="https://www.djangoproject.com/" target="_blank" 
         alt="Link para Django">Django</a> e <a href="http://getbootstrap.com" 
         target="_blank" alt="Link para Bootstrap">Bootstrap</a>.</p>
   </div>
</footer>